main#messageLayout {
  width: 52%;
  max-width: 42rem;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (max-width: 47.5rem) {
  main#messageLayout {
    width: 100%;
    max-width: 100%;
  }
}
