div#messageLayout {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 26% 48% 26%;
  background: var(--bg);
  overflow: hidden;
}

@media (max-width: 64rem) {
  div#messageLayout {
    grid-template-columns: 32% 68%;
  }

  div#messageLayout > aside {
    display: none;
  }
}

@media (max-width: 47.5rem) {
  div#messageLayout {
    grid-template-columns: 100%;
  }

  div#messageLayout > aside {
    display: none;
  }
}
