dist
.wrangler
.output
.vercel
.netlify
.vinxi
app.config.timestamp_*.js

# Environment
.env
.env*.local

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Vite cache (if a standalone cache dir appears)
.vite/
