main#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

main#home > h1#title {
  margin: 0;
  font-size: 2rem;
}

main#home > p#subtitle {
  width: 80%;
  margin: 0;
  font-size: 1rem;
  text-align: center;
}
