main#messageLayout {
  width: 64%;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 65%;
  gap: 1%;
  overflow: hidden;
}

@media (max-width: 47.5rem) {
  main#messageLayout {
    width: 100%;
    grid-template-columns: 100%;
  }

  main#messageLayout > section:first-child {
    display: none;
  }
}
