section#profileSection {
  display: flex;
  flex-direction: column;

  > img#cover {
    width: 100%;
    aspect-ratio: 3.2 / 1;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  > div#profilePosts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }
}

h1#profileTitle {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
}