nav.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 107px;
  background: var(--bg);
  width: 100%;
  height: 68px;

  span.logo {
    font-family: var(--font);
    font-size: 28px;
    font-weight: 800;
    color: var(--text-heading);
  }

  div.menu {
    display: flex;
    gap: 17px;
    align-items: center;

    a.link {
      font-family: var(--font);
      font-size: 15px;
      font-weight: 400;
      color: var(--text-nav);

      &:hover {
        color: var(--text-heading);
      }
    }
  }
}
