.home {
  display: grid;
  grid-template-columns: fit-content(240px) minmax(auto, 680px) 320px;
  max-width: 1260px;
  margin-inline: auto;
  width: 100%;
  min-height: 100vh;
  padding-inline: 1rem;

  .left {
    grid-column: 1;
  }

  .center {
    grid-column: 2;
  }

  .right {
    grid-column: 3;
  }
}
